<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Book</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <!--<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" href="../../static/css/custom.css" th:href="@{'/css/custom.css/'}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#btn2").click(function(){
                $("ol").appendTo("<li>Appended item</li>");
            });
        });
    </script>

</head>
<body>
<!--/*@thymesVar id="book" type="tru.springframework.libaryapp.domain.Book"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-3">
                                <h1 class="panel-title" th:text="${book.bookName}">Book Name here!</h1>
                            </div>

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-5">
                            <div class="col-md-6 ">
                                <img th:src="@{'/images/' + ${book.imageName}}"  src="../../static/images/piekaraImage.jpg"
                                     width="260" height="380">
                            </div>
                        </div>
                        <div class="col-md-7" style="margin-top: 70px">
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Author: </p>
                                </div>
                                <div class="col-md-9">
                                    <p th:text="${book.author.firstName}+ ' ' + ${book.author.lastName}">Jacek Piekara</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Categories: </p>
                                </div>
                                <div class="col-md-9">
                                   <ul>
                                    <li th:each="category : ${book.categories}"
                                        th:text="${category.description}">Fantasy</li>
                                   </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p>CoverType: </p>
                                </div>
                                <div class="col-md-9">
                                    <p th:text="${book.coverType.name()}">Soft </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Publisher:</p>
                                </div>
                                <div class="col-md-9">
                                    <p th:text="${book.publisher.publisherName}">Publisher</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p>EAN:  </p>
                                </div>
                                <div class="col-md-9">
                                    <p th:text="${book.eanNumber}">7989789789789</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Number of Pages:  </p>
                                </div>
                                <div class="col-md-9">
                                    <p th:text="${book.numberOfPages}">415</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Publish Date: </p>
                                </div>
                                <div class="col-md-9">
                                    <p th:text="${book.publishDate}">13.01.2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Description</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-justify " style="margin: 3%;" th:text="${book.description}">
                                    Arnold Lowefell i Mordimer Madderdin wspólnie ruszają do walki!
                                    Dwaj szczególni Inkwizytorzy znowu się spotykają. Tym razem, by wspólnie wypełnić zadanie w przeklętej krainie zamieszkanej przez dziki lud, który wiarę w Chrystusa połączył z pogańskimi obrządkami. Tysiące mil od granic Cesarstwa, inkwizytorzy będą musieli spełnić misję kluczową dla całego chrześcijaństwa.
                                    W całej intrydze wielką rolę odegrają także mało znani lecz potężni funkcjonariusze Wewnętrznego Kręgu Inkwizytorium. Hildegarda Reizend - podróżniczka, która przewędrowała świat od Afryki po Himalaje. Biegły w sztuce magicznej Barnaba Biber. Wszyscy będą musieli stawić czoła Herenniuszowi Furiusowi - Rzymianinowi, który na własne oczy widział Ukrzyżowanie i Zstąpienie Jezusa Chrystusa.
                                    Węzły intryg zaciskają się na szyjach wszystkich bohaterów. Kto będzie musiał umrzeć dla dobra chrześcijaństwa, a kto przeżyje, by dalej służyć Sprawie?

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>