<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Book</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <!--<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" href="../../static/css/custom.css" th:href="@{'/css/custom.css/'}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>
<body>
<!--/*@thymesVar id="book" type="tru.springframework.com.libaryapp.model.Book"*/-->
<!--/*@thymesVar id="author" type="tru.springframework.com.libaryapp.model.Author"*/-->
<!--/*@thymesVar id="author" type="tru.springframework.com.libaryapp.model.Publisher"*/-->
<!--/*@thymesVar id="author" type="tru.springframework.com.libaryapp.model.Price"*/-->
<!--/*@thymesVar id="author" type="tru.springframework.com.libaryapp.model.String"*/-->
<!--/*@thymesVar id="books" type="java.util.List"*/-->
<!--/*@thymesVar id="authors" type="java.util.List"*/-->
<!--/*@thymesVar id="publishers" type="java.util.List"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form  th:object="${book}" th:action="@{/book/}"  method="post" enctype="multipart/form-data">
                <div th:if="${#fields.hasErrors('*') }" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>
                <input type="hidden" th:field="*{id}"/>
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class=" panel-heading">
                            <h1 class="panel-title">New Book</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-md-4" th:class="${#fields.hasErrors('bookName')} ?
                                 'form-group col-md-4 has-error' : 'form-group col-md-4'"  >

                                        <label >Book Name:</label>
                                        <input type="text" class="form-control" th:field="*{bookName}" th:errorclass="has-error">
                                        <span class="help-block" th:if="${#fields.hasErrors('bookName')}">
                                                <ul>
                                                    <li th:each="err: ${#fields.errors('bookName')}" th:text="${err}"/>
                                                </ul>
                                        </span>

                                </div>
                                <div class="form-group col-md-4" >
                                    <label>Author</label>

                                    <select class="form-control" th:field="*{author.id} ">
                                        <option th:each="author : ${authors}"
                                                th:value="${author.id}"
                                                th:text="${author.firstName} + ' ' + ${author.lastName}">author</option>

                                    </select>

                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Publisher</label>
                                    <select class="form-control" th:field="*{publisher.id}">
                                        <option th:each="publisher : ${publishers}"
                                                th:value="${publisher.id} "
                                                th:text="${publisher.publisherName} ">author</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4" th:class="${#fields.hasErrors('numberOfPages')} ?
                                 'form-group col-md-4 has-error' : 'form-group col-md-4'"  >

                                    <label >Number of Pages:</label>
                                    <input type="number" class="form-control" th:field="*{numberOfPages}" th:errorclass="has-error">
                                    <span class="help-block" th:if="${#fields.hasErrors('numberOfPages')}">
                                                <ul>
                                                    <li th:each="err: ${#fields.errors('numberOfPages')}" th:text="${err}"/>
                                                </ul>
                                        </span>

                                </div>
                                <div class="form-group col-md-4" th:class="${#fields.hasErrors('publishDate')} ?
                                 'form-group col-md-4 has-error' : 'form-group col-md-4'"  >

                                    <label >Publish Date:</label>
                                    <input type="date" class="form-control" th:field="*{publishDate}" th:errorclass="has-error">
                                    <span class="help-block" th:if="${#fields.hasErrors('publishDate')}">
                                                <ul>
                                                    <li th:each="err: ${#fields.errors('publishDate')}" th:text="${err}"/>
                                                </ul>
                                        </span>

                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Cover Type:</label>
                                    <select class="form-control" th:field="*{coverType}">
                                        <option th:each="CoverValue :${T(tru.springframework.com.libaryapp.model.CoverType).values()}"
                                                th:value="${CoverValue.name()}"
                                                th:text="${CoverValue.name()}">val</option>
                                        <option th:remove="all">Soft</option>
                                        <option th:remove="all">Hard</option>

                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4" th:class="${#fields.hasErrors('eanNumber')} ?
                                 'form-group col-md-4 has-error' : 'form-group col-md-4'"  >

                                    <label >EAN:</label>
                                    <input type="number" class="form-control" th:field="*{eanNumber}" th:errorclass="has-error">
                                    <span class="help-block" th:if="${#fields.hasErrors('eanNumber')}">
                                                <ul>
                                                    <li th:each="err: ${#fields.errors('eanNumber')}" th:text="${err}"/>
                                                </ul>
                                        </span>

                                </div>
                                <div class="form-group col-md-4" th:class="${#fields.hasErrors('price.value')} ?
                                 'form-group col-md-4 has-error' : 'form-group col-md-4'"  >

                                    <label >Price Value</label>
                                    <input type="number" class="form-control" th:field="*{price.value}" th:errorclass="has-error">
                                    <span class="help-block" th:if="${#fields.hasErrors('price.value')}">
                                                <ul>
                                                    <li th:each="err: ${#fields.errors('price.value')}" th:text="${err}"/>
                                                </ul>
                                        </span>


                                </div>
                                <div class="form-group col-md-4">
                                    <label>Price Currency</label>
                                    <select class="form-control" th:field="*{price.currency}" >
                                        <!--<option th:each="currencyValue :${T(tru.springframework.com.libaryapp.model.Stringvalues()}"-->
                                                <!--th:value="${currencyValue.name()}"-->
                                                <!--th:text="${currencyValue.name()}">val</option>-->
                                        <option th:value="ZŁ" >ZŁ</option>
                                        <option th:value="DOL">DOL</option>

                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="control-label">Select Cover Image:</label>
                                    <input id="imagefile" name="imagefile" type="file" class="file">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Categories:</label>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                    <div >
                                        <label th:each="category : ${categories}" class="radio" >
                                            <input th:field="*{categoryList}" th:value="${category.id}" type="checkbox" value=""  />
                                            <b  th:text="${category.description}">Cat 2</b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">Description</h1>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 form-group"th:class="${#fields.hasErrors('description')} ?
                                'col-md-3 form-group has-error' : 'col-md-3 form-group' ">
                                        <textarea class="form-control" rows="3" th:field="*{description}">Lorem Ipsum</textarea>
                                        <span class="help-block" th:if="${#fields.hasErrors('description')}" >
                                        <ul>
                                            <li th:each="err: ${#fields.errors('description')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>